<p>Difficulty <%= @difficulty  %></p>
<p>Exchange rate ETH <%= @eth_data.exchange_rate  %></p>
<p>Exchange rate ETC <%= @etc_data.exchange_rate  %></p>
<%= @coin.block_profit %>
<%= @coin.block_time %>

<h2><%= @etc_data.calc_profit %></h2>
